/* src/components/Layout/Layout.module.css */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
  width: 100%;
  margin: 0 auto;
}